* {
    box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
  background-color: #15803d;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
    margin-bottom: 5px;
}

p {
    margin-top: 0;
    color: #070707;
}
.calculator-container {
    max-width: 350px;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.calculator-container label {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

.calculator-container input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.calculator-container input:focus {
    outline: none;
    border-color: #4f46e5;

}

.calculator-container button {
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    background-color: #3CB371;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calculator-container button:hover{
    background-color: #4dec94;
}
#clearBtn {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background-color: #aaa;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#clearBtn:hover {
    background-color: #888;
}
#result {
    max-width: 350px;
    margin: 20px auto;
    padding: 15px;
    background-color: #eef2ff;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.4s ease;
}

#result.show {
    opacity: 1;
    transform: translateY(0);
}

#result p {
    margin: 5px 0;
    font-weight: bold;
}

.more-expensive {
    color: #b91c1c;
}

 .cheaper {
    color: #15803d;
}




